*.pdb
Source/ModRimWorldSolarLightPatch/.idea/
Source/ModRimWorldSolarLightPatch/obj/
*.user
Source/ModRimWorldSolarLightPatch/ModRimWorldSolarLightPatch.csproj
1.3/Source/ModRimWorldSolarLightPatch/.idea/
1.2/Source/ModRimWorldSolarLightPatch/.idea/
*.cache
1.2/Source/ModRimWorldSolarLightPatch/obj/Debug/ModRimWorldSolarLightPatch.csproj.FileListAbsolute.txt
